@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>connect me <a href="https://shibinsha.cloud"></a>shibin sha.</p>
</div>
